html {
    box-sizing: border-box;
}

// ie 8 doesn't like the double colon syntax
* {
	
    &,
    &:after,
    &:before {
      box-sizing: inherit;
    }
	
}

a {
    
    &:link{
        
    }
    
    &:visited{
        
    }
    
    &:hover{
        
    }
    
    &:active{
        
    }
    
    &:focus {
        background: gray;
        color: white;
    }
    
}