/* ==================================================
| Base Nav Classes
 ==================================================*/

.qn-nav {
	
	@extend %hidden;

	width       : 100%;
	padding 	: 0;
	margin 		: 0;
	
	@include media(em($qn-break-point, $qn-base-font-size)){
		
		max-height 	: inherit;
		position 	: relative;	

		width 		: auto;
		border-top 	: 0;
		background  : transparent;
		display 	: block;
		padding 	: 0 em($qn-navbar-hrz-padding, $qn-base-font-size);
		
	}
	
}

.qn-nav__item {
	
	text-align      : center;
	list-style 		: none;
	display 		: block;
	line-height 	: em($qn-nav-bar-height, $qn-base-font-size);
	
	
	@include media(em($qn-break-point, $qn-base-font-size)){
		
		display: inline-block;
		
		& + &  {
			padding-left: 1em;
			color: green;
		}
		
	}
	
}

.qn-nav__link {
	
	padding-left 	: em($qn-navbar-hrz-padding, $qn-base-font-size);
	display 		: inline-block;
	width 			: 100%;
	text-decoration : none;
	color 			: #fff;
	line-height 	: em($qn-nav-bar-height, $qn-base-font-size);
	
	&:hover {
		background: tint($qn-nav-bar-bg, 5%);
	}
	
	@include media(em($qn-break-point, $qn-base-font-size)){
		
		border-top :0;
		
		&:hover, &:focus {
			background: transparent;
		}
		
	}
	
}

/* ==================================================
| Nav Modifier Classes
 ==================================================*/

.qn-nav--collapse {
	
	transition 		: max-height 0.3s;
	
	@include media(em($qn-break-point, $qn-base-font-size)){
		
		max-height 	: inherit;
		position 	: relative;

	}
	
}

.qn-nav--off-canvas {
	
	max-height 	: inherit;
	position 	: relative;
	
	@include media(em($qn-break-point, $qn-base-font-size)){
		padding: 0;
		display: block;
	}
	
	& > .qn-nav__item {
		
		/*
		* Overwrite base rules to keep off canvas links stacked vertically if 
		* screen is resized to be wider than the breakpoint
		*/
		@include media(em($qn-break-point, $qn-base-font-size)){
			
			display: block;
			
			& + .qn-nav__item {
				padding-left: 0;
			}
			
		}
		
	}
	
	& .qn-nav__link {
		
		&:hover {
			background: tint($qn-off-canvas-bg , 8%);
		}
		
		@include media(em($qn-break-point, $qn-base-font-size)){
			display: block;
			width: 100%;
		}
	
	}
	
}

/**
* TODO: calculate and create max-height style via JavaScript
*/
.qn-nav--open {
	max-height: 289px !important;
}

.qn-nav--left {
	
	@extend .qn--left;
	
	& .qn-nav__link {
		
		text-align 		: left;
		padding-left 	: em($qn-navbar-hrz-padding, $qn-base-font-size);
		
	}
	
}

.qn-nav--right {	
	
	@extend .qn--right;
	
	& .qn-nav__link {
		
		text-align 		: right;
		padding-right 	: em($qn-navbar-hrz-padding, $qn-base-font-size);
		
	}

}

.qn-nav--centered {
	
	& .qn-nav__link {

		text-align 		: center;
		padding-left 	: em($qn-navbar-hrz-padding, $qn-base-font-size);
		padding-right 	: em($qn-navbar-hrz-padding, $qn-base-font-size);
		
	}
	
}
