.qn-top-bar {
	background: $qn-top-bar-bg;
	padding: 0 $qn-top-bar-horizontal-padding;
	min-height: $qn-top-bar-height;
	width: 100%;
}

.qn-top-bar__menu-btn {
	display: inline;
	vertical-align: middle;
	line-height: $qn-top-bar-height;
}



