.qn-container {
	
	margin 		: 0 auto;
	width 		: 100%;
	max-width 	: em($qn-container-max-width, $qn-base-font-size);
	// padding 	: 0 $qn-container-padding;
	// @include clearfix;
	// ie8 doesn't like bourbon's @include clearfix;
	&:after {

		content 	: "";
		display 	: table;
		clear 		: both;

	}
	
}

.qn-section, .qn-header {
	padding: 0 1em;
}


.qn-page-overlay {

    position 	: fixed;
    top 		: 0;
    right 		: 0;
    bottom 		: 0;
    left 		: 0;
    z-index 	: $qn-page-overlay-z-index;
    background 	: #000;
    opacity 	: 0.5;
	filter 		: alpha(opacity=50);
	transition: opacity $qn-transition-speed ease-in-out;
}

.qn-page-overlay--hidden {
	display: none;
	//opacity: 0;
	//transition: opacity .25s ease-in-out;
}


.qn-float-right {
	float: right;
}

.qn-float-left {
	float: left;
}
		
		


