extend ../layouts/shell

block content

	nav(class='qn-navbar qn-navbar--primary')
	
		.qn-container 
		
			+qn-btn(1)
			
			a(href="javascript:void(0)" class="qn-navbar__logo qn-navbar__logo--left") Quick Nav
				
			+qn-nav(dummyLinks, ['qn-nav--right'])
	
	+qn-off-canvas('left', 'slide', 1, true)
		header(class='qn-off-canvas__header qn-off-canvas__header--border')
			a(href="javascript:void(0)" class="qn-off-canvas__logo") Quick Nav
		+qn-nav(dummyLinks, ['qn-nav qn-nav--off-canvas qn-nav--left'])
		
	.qn-page-overlay.qn-page-overlay--hidden(id='js-qn-overlay')
	
	include ../partials/page-heading.jade
	include ../partials/secondary-navbar.jade
		