
<div class="qn-top-bar">

		<div class="qn-container">
			
			<div class="qn-logo--top-bar qn-float-left">
				<a href="javascript:void(0)" class="qn-logo__link">Quick Nav</a>
			</div>
			
			<nav class="qn-nav--top-bar qn-float-right">
				<ul class="qn-nav__list--top-bar ">
					<li class="qn-nav__item--top-bar"><a href="javascript:void(0)" class="qn-nav__link--top-bar">Foo</a></li>
					<li class="qn-nav__item--top-bar"><a href="javascript:void(0)" class="qn-nav__link--top-bar">Bar</a></li>
					<li class="qn-nav__item--top-bar"><a href="javascript:void(0)" class="qn-nav__link--top-bar">Baz</a></li>
				</ul>
			</nav>
			
			<div class="qn-menu-btn qn-float-right">
				<a href="javascript:void(0)" class="qn-menu-btn__link" id="js-qn-menu-btn" aria-expanded="true" >Menu</a>
			</div>

		</div>

	</div>
	
	<nav class="qn-nav--mobile qn-nav--mobile--left qn-nav--mobile--hidden" id="js-qn-nav--mobile" role="navigation">
		<ul class="qn-nav__list--mobile" role="menu">
			<li class="qn-nav__item--mobile" role="menuitem" tabindex="0">
				<a href="javascript:void(0)" class="qn-nav__link--mobile">Foo</a>
			</li>
			<li class="qn-nav__item--mobile" role="menuitem" tabindex="1">
				<a href="javascript:void(0)" class="qn-nav__link--mobile">Bar</a>
			</li>
			<li class="qn-nav__item--mobile" role="menuitem" tabindex="2">
				<a href="javascript:void(0)" class="qn-nav__link--mobile">Baz</a>
			</li>
		</ul>
	</nav>

	<div class="qn-page-overlay qn-page-overlay--hidden" id="js-qn-page-overlay"></div>

{{> page-header}}

{{> demo-links}}