<div class="content">
	<nav class="demo-nav">
		<ul class="demo-nav__list">
			<li class="demo-nav__item"><a href="/" class="demo-nav__link">home</a></li>
			<li class="demo-nav__item"><a href="/demos/demo1" class="demo-nav__link">demo1</a></li>
			<li class="demo-nav__item"><a href="/demos/demo2" class="demo-nav__link">demo2</a></li>
		</ul>
	</nav>
</div>