.qn-container.qn-section

	nav(class='qn-navbar qn-navbar--rounded qn-navbar--secondary')
	
		.qn-container
			
			+qn-btn(2)
			
			a(href="javascript:void(0)" class="qn-navbar__logo qn-navbar__logo--left") Quick Nav
	
			+qn-nav(siteLinks, ['qn-nav--left', 'qn-nav--collapse'], 2)